<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Sync</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="#"
          ><img src="/img/index/Dyor.svg" alt="alternative"
        /></a>

        <!-- Mobile Menu Toggle Button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-awesome"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-grid-3x3-gap" viewBox="0 0 16 16">
            <path d="M4 2v2H2V2h2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2v2H7V2h2zm5 0v2h-2V2h2zM4 7v2H2V7h2zm5 0v2H7V7h2zm5 0h-2v2h2V7zM4 12v2H2v-2h2zm5 0v2H7v-2h2zm5 0v2h-2v-2h2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z"/>
          </svg></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#description"
                >DESCRIPTION <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#features">FEATURES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#screens">UI/UX</a>
            </li>

            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle page-scroll"
                id="navbarDropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >EXTRA</a
              >
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="terms-conditions.html"
                  ><span class="item-text">TERMS CONDITIONS</span></a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="privacy-policy.html"
                  ><span class="item-text">PRIVACY POLICY</span></a
                >
              </div>
            </li>
            <!-- end of dropdown menu -->
          </ul>
          <span class="nav-item">
            <a class="btn-outline-sm page-scroll" href="#download">Start</a>
            
            
          </span>
        </div>
      </div>
      <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->

    <!-- Header -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h1>XDyor</h1>
              <p class="p-large p-heading">
                Don't know what to buy for a 100x ??
                <br />We are here with all the 100x gems take them all.
                <br/>Its all yours. 
              </p>
              <a class="btn-solid-lg" href="#your-link"
                >START</a
              >
              <a class="btn-solid-lg" href="https://www.youtube.com/watch?v=QFe83VAocSQ"
              >Quit</a>

            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="image-container">
              <img
                class="img-fluid"
                src="/img/index/header-iphone.svg"
                alt="alternative"
              />
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
      <div class="deco-white-circle-1">
        <img src="/img/index/decorative-white-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-white-circle-1 -->
      <div class="deco-white-circle-2">
        <img src="/img/index/decorative-white-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-white-circle-2 -->
      <div class="deco-blue-circle">
        <img src="/img/index/decorative-blue-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-blue-circle -->
      <div class="deco-yellow-circle">
        <img src="/img/index/decorative-yellow-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-yellow-circle -->
      <div class="deco-green-diamond">
        <img src="/img/index/decorative-green-diamond.svg" alt="alternative" />
      </div>
      <!-- end of deco-yellow-circle -->
    </header>
    <!-- end of header -->
    <!-- end of header -->

    <!-- Description 1 -->
    <div id="description" class="basic-1">
      <div class="container">
        <h1>What do we do?</h1>
        <div class="row">
          <div class="col-lg-6">
            
            <div class="image-container">
              <img
                class="img-fluid"
                src="/img/index/undraw_predictive_analytics_kf-9-n.svg"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6">
            <div class="text-container">
              <h2>That's a secret</h2>
              <p>
                We are listing all possible gems that is worth holding for 1-2 months.
                There will be those are not yet listed, ICO's, and those that are already listed.
              </p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                   Exchanges : Kucoin ,Gateio ,Binance ,Bittrex ....
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Swaps : Uniswap , PancakeSwap , Serum Dex .....
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">
                    Tokens , Coins , Governance , Dao , Rugpull.....
                  </div>
                </li>
              </ul>
              <a
                class="btn-solid-reg popup-with-move-anim"
                href="#description-1-details-lightbox"
                ><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                </svg> &nbsp; Follow US</a
              >
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- Description 2 -->
    <div class="tabs">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="tabs-container">
              <!-- Tabs Links -->
              <ul class="nav nav-tabs" id="cedoTabs" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="nav-tab-1"
                    data-toggle="tab"
                    href="#tab-1"
                    role="tab"
                    aria-controls="tab-1"
                    aria-selected="true"
                    ><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                      <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
                    </svg> &nbsp; Q1</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="nav-tab-2"
                    data-toggle="tab"
                    href="#tab-2"
                    role="tab"
                    aria-controls="tab-2"
                    aria-selected="false"
                    ><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                      <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                      <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg> &nbsp;Q2</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="nav-tab-3"
                    data-toggle="tab"
                    href="#tab-3"
                    role="tab"
                    aria-controls="tab-3"
                    aria-selected="false"
                    ><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                      <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                      <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg> &nbsp; Future</a
                  >
                </li>
              </ul>
              <!-- end of tabs links -->

              <!-- Tabs Content -->
              <div class="tab-content" id="cedoTabsContent">
                <!-- Tab -->
                <div
                  class="tab-pane fade show active"
                  id="tab-1"
                  role="tabpanel"
                  aria-labelledby="tab-1"
                >
                  <p>
                    <strong>Q1 2022 </strong> : : This is good start.Market is down (26/01/2022).
                    People thinking of bear in this quarter.
                  </p>
                  <ul class="list-unstyled li-space-lg">
                    <li class="media">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                        <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                      </svg>
                      <div class="media-body">
                        Bearish or bullish we are always Hyper bullish.
                      </div>
                    </li>
                    <li class="media"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"/>
                    </svg>
                      <div class="media-body">
                        Sometimes we all have bad times 😢.Then what should we do buy more ! ✔
                      </div>
                    </li>
                    <li class="media">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-shield-fill-x" viewBox="0 0 16 16">
                        <path d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zM6.854 5.146 8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 1 1 .708-.708z"/>
                      </svg>
                      <div class="media-body">
                        Don't Panic ! We are here to help you.
                      </div>
                    </li>
                  </ul>
                  <a
                    class="btn-solid-reg page-scroll"
                    href="terms-conditions.html"
                    >TERMS</a
                  >
                  <a
                    class="btn-outline-reg page-scroll"
                    href="privacy-policy.html"
                    >PRIVACY</a
                  >
                </div>
                <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div
                  class="tab-pane fade"
                  id="tab-2"
                  role="tabpanel"
                  aria-labelledby="tab-2"
                >
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-skip-end-fill" viewBox="0 0 16 16">
                      <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/>
                    </svg>
                    <strong>Keep track of everything</strong> Strong Analysis tools.
                    Prediction graphs.Pump and Dump signals. Bear and bull signals etc... soon
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                      <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    <strong>Test Phase</strong> Soon will switch over to paid plans Based on the Gains.Lucky you are a alpha tester💖
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
                    </svg>
                    <strong>Achieve the impossible</strong> just by carefully
                    monitoring your progress and keeping the app updated with
                    daily operations. It's easier than you think and it only
                    takes a couple of minutes.
                  </p>
                  
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
                      <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
                    </svg>
                    <strong>Caution</strong> Test Phase seem to have Bugs and Errors use at Your own risk
                  </p>
                </div>
                <!-- end of tab-pane -->
                <!-- end of tab -->

                <!-- Tab -->
                <div
                  class="tab-pane fade"
                  id="tab-3"
                  role="tabpanel"
                  aria-labelledby="tab-3"
                >
                  <p>
                    <strong>Trust us</strong> We will make you next Millionaire.
                  </p>
                  <ul class="list-unstyled li-space-lg">
                    <li class="media">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                        <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                        <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z"/>
                      </svg>
                      <div class="media-body">
                        We are going to start fully automated assest management Exchange.
                      </div>
                    </li>
                    <li class="media">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                      <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                    </svg>
                      <div class="media-body">
                        We will manage your assets and give you a 70% profit return.Terms and CONDITIONS apply.
                      </div>
                    </li>
                    <li class="media">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
                        <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
                      </svg>
                      <div class="media-body">
                        Tired of Boring chart ??? What about make investment with us.Seeing how your money flows?
                      </div>
                    </li>
                    <li class="media">
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-exclude" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z"/>
                      </svg>
                      <div class="media-body">
                        100 % transparent and secure. You can see your money flows and doubles , triples , and quadruples.
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- end of tab-pane -->
                <!-- end of tab -->
              </div>
              <!-- end of tab-content -->
              <!-- end of nav tabs content -->
            </div>
            <!-- end of tabs-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6">
            <div class="image-container">
              <img
                class="img-fluid"
                src="/img/index/undraw_printing_invoices_-5-r4r.svg"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of tabs -->
    <!-- end of description 2 -->

    <!-- Features -->
    <div id="features" class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Special Features</h2>
            <p class="p-heading">
              Sync's features are designed to help you improve your time
              management skills and become a better organized person. Organize
              your tasks, schedule your appointments and meet your personal
              development goals with Sync
            </p>
          </div>
          <!-- end of div -->
        </div>
        <!-- end of div -->
        <div class="row">
          <div class="col-lg-4">
            <ul class="list-unstyled li-space-lg first">
              <li class="media">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-users fa-stack-1x"></i>
                </span>
                <div class="media-body">
                  <h4>Goal Setting</h4>
                  <p>
                    Like any self improving process, everything starts with
                    setting your goals and committing to them
                  </p>
                </div>
              </li>
              <li class="media">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x green"></i>
                  <i class="fas fa-code fa-stack-1x"></i>
                </span>
                <div class="media-body">
                  <h4>Situation Analysis</h4>
                  <p>
                    Sync provides a well designed and ergonomic visual editor
                    for you to edit your quick notes
                  </p>
                </div>
              </li>
              <li class="media">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x red"></i>
                  <i class="fas fa-cog fa-stack-1x"></i>
                </span>
                <div class="media-body">
                  <h4>Tasks Settings</h4>
                  <p>
                    Each option packaged in the app's menus is provided in order
                    to improve you personally
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <!-- end of col -->
          <div class="col-lg-4">
            <img
              class="img-fluid"
              src="/img/index/screenshot-1.svg"
              alt="alternative"
            />
          </div>
          <!-- end of col -->
          <div class="col-lg-4">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x yellow"></i>
                  <i class="fas fa-comments fa-stack-1x"></i>
                </span>
                <div class="media-body">
                  <h4>Social Interaction</h4>
                  <p>
                    Schedule your appointments, meetings and periodical
                    evaluations using the tools
                  </p>
                </div>
              </li>
              <li class="media">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x blue"></i>
                  <i class="fas fa-rocket fa-stack-1x"></i>
                </span>
                <div class="media-body">
                  <h4>Get Things Done</h4>
                  <p>
                    Reading focus mode for long form articles, ebooks and other
                    materials with long text
                  </p>
                </div>
              </li>
              <li class="media">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-download fa-stack-1x"></i>
                </span>
                <div class="media-body">
                  <h4>Good Foundation</h4>
                  <p>
                    Get a solid foundation for your self development efforts.
                    Try Sync mobile app for devices
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-2 -->
    <!-- end of features -->

    <!-- Screenshots -->
    <div id="screens" class="slider">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Image Slider -->
            <div class="slider-container">
              <div class="swiper-container image-slider">
                <div class="swiper-wrapper">
                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-1.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-1.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-9.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-4.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-2.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-2.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-4.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-4.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->
                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-1.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-6.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-2.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-3.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-3.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-8.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-4.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-9.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <a
                      href="/img/index/screenshot-1.svg"
                      class="popup-link"
                      data-effect="fadeIn"
                    >
                      <img
                        class="img-fluid"
                        src="/img/index/screenshot-9.svg"
                        alt="alternative"
                      />
                    </a>
                  </div>
                  <!-- end of slide -->
                </div>
                <!-- end of swiper-wrapper -->

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->
              </div>
              <!-- end of swiper-container -->
            </div>
            <!-- end of slider-container -->
            <!-- end of image slider -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of slider -->
    <!-- end of screenshots -->

    <!-- Download -->
    <div id="download" class="basic-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="image-container">
              <img
                class="img-fluid"
                src="/img/index/download-iphone.svg"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
            <p class="p-large"><br/>
              Just start to get a 3x - 10x increase in your assets.
            </p>
            <a class="btn-solid-lg" href="#your-link"
              >Start</a
            >
            <a class="btn-solid-lg" href="https://www.youtube.com/watch?v=QFe83VAocSQ"
              >Quit</a
            >
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
      <div class="deco-white-circle-1">
        <img src="/img/index/decorative-white-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-white-circle-1 -->
      <div class="deco-white-circle-2">
        <img src="/img/index/decorative-white-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-white-circle-2 -->
      <div class="deco-blue-circle">
        <img src="/img/index/decorative-blue-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-blue-circle -->
      <div class="deco-yellow-circle">
        <img src="/img/index/decorative-yellow-circle.svg" alt="alternative" />
      </div>
      <!-- end of deco-yellow-circle -->
      <div class="deco-green-diamond">
        <img src="/img/index/decorative-green-diamond.svg" alt="alternative" />
      </div>
      <!-- end of deco-yellow-circle -->
    </div>
    <!-- end of basic-3 -->
    <!-- end of download -->


    <% include partials/footer %>
    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              Copyright © 2022 <a href="https://github.com/deosaju">XDyor</a> - All
              rights reserved
            </p>
          </div>
          <!-- end of col -->
        </div>
        <!-- enf of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of copyright -->
    <!-- end of copyright -->

  </body>
  <% include partials/script %>
</html>
